

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    letter-spacing: 0.1em
}

h2 {
    font-size: 1.2em;
    color: #333333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.container {
    display: flex;
    padding: 20px;
}

main {
    flex: 3;
    margin-right: 20px;
}

article {
    margin-bottom: 20px;
}

aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
}

aside img {
    width: 100%;
    height: auto;
}
