.card{

    max-width:700px;

    margin:40px auto;

    padding:20px;

    border:1px solid #dddddd;

    border-top:4px solid #163c73;
}

h1{

    font-size:40px;

    margin-bottom:20px;

}
p{

    color:#555;

    line-height:1.8;

    margin-bottom:25px;

}

.tags{

    display:flex;

    gap:10px;

}
.tags a{

    display:flex;

    align-items:center;

    gap:5px;

    padding:6px 10px;

    border:1px solid #cccccc;

    border-radius:5px;

    text-decoration:none;

    color:#444;

}

.tags img{

    width:14px;

    height:14px;

}
